<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ejs</title>
    <link rel="stylesheet" href="./main.css">
</head>
<body>
    <h1>하잉</h1>
    <p><%= 'Hello' + 'World' %></p>
    <p><%= 2 - 3 %></p>
    <p><%= true? '참':'거짓' %></p>
    <p><%= false? '참':'거짓' %></p>
    <p><%= '<h3>hi</h3>' %></p>
    <p><%- '<h3>hi</h3>' %></p>
    <div><% let str = 'Hello' %>
    <%= str %></div>
    <div><%if(true){%>
        <h2>출력</h2>
    <% } %>
    <% if(false){ %>
        <h2>no</h2>
        <% } %>
    </div>
    <div>
        <% if (true) { %>
            <div>참</div>
        <% } else { %>
            <div>거짓</div>
        <% } %>
    </div>

    <div>
        <% for(let i=1;i<=3;i++){ %>
            <div><a href="/order/<%= i %>">test <%= i %>로</a></div>
            <% } %>
    </div>
    <div>
        <% let arr = ['apple', 'banana', 'cherry']; %>
        <% arr.forEach((fruit) => { %>
            <h3><%= fruit %>입니다.</h3>
        <% }); %>
    </div>
    <div>
        <% let arr2 = ['map1', 'map2','map3'] %>
        <% arr2.map(val=>{ %>
            <h3><%= val %>입니다</h3>
            <% }) %>
    </div>
    <ul>
        <% for(let p of people){ %>
            <li><%= p.name %>입니다.</li>
            <% } %>
    </ul>
    <ul>
        <% people.forEach((p) => { %>
            <% if (p.name === 'kim') { %>
                <li><%= p.name %>씨</li>
        <% }}) %>
    </ul>
    <div class="container">
        <h1>List</h1>
        <form action="/addTask" method = "post">
            <input type="text" name = "newTask" placeholder = "할 일 목록을 추가해주세요">
            <button type="submit">추가</button>
        </form>
        <ul>
            <% tasks.forEach(task=>{ %>   
            <li>
                <%= task%>
                <form action="/deleteTask" method="post" value =" <%= task %>">
                    <button type = 'submit'>지우기</button>
                </form>
            </li>
            <% }) %>
        </ul>
    </div>
    <div>
      
        <% for(let u of users2){ %>    
          
            <li class="<%= u.role %>">
                <%= u.name %>은 <%= u.age >= 18 ? 'pass' : 'reject' %>입니다
            </li>
        <% }; %>
    
    </div>
</body>
</html>